body {
    background-image: url('CadAssets/LowPoly.png');
    background-color: #f2ece7;
    font-family: calibri, arial, verdana, serif;
    font-weight: normal;
    font-size: 12pt;
    overflow-x: hidden;
}

.header {
    border-top: 1px solid #505050;
    border-bottom: 1px solid #505050;
    padding: 0.2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.header-text {
    border: none;
    background: none;
    margin: auto;
    color: #505050;
    font-size: 18pt;
    font-family: 'Calibri Light', monospace;
}

.bar {
    height: 100%;
    width: 13%;
    background-color: #2D2D2D;
    border-radius: 20px;
    transition: transform 0.3s;
    position: absolute;
    z-index: -1;
}

/*start*/

.page {
    margin: auto;
    max-width: 800px;
    background-color: #f2ece7;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/*old*/

.grid {
    display: flex;
    justify-content: space-around;
    /*border-style: dotted;*/
}

.margin {
    width: 5%;
    /*border-style: dotted;*/
}

.inner {
    width: 85%;
}

.item2 {
    width: 50%;
    /*border-style: dotted;*/
}

.item3 {
    width: 20%;
    border-top: 1px dashed #505050;    
}

.item4 {
    width: 9%;
    /*border-style: dotted;*/
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

button {
    background-color: #2D2D2D;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    width: 50%;
    height: 13%;
    color: white;
    font-size: 18pt;
    font-family: 'Calibri Light', monospace;
}

    button:hover {
        background-color: #0000ff;
    }

.title {
    color: #505050;
    font-size: 24pt;
    font-weight: bold;
    font-family: 'Calibri Light', monospace;
    padding: 10%;
}

.title2 {
    color: #505050;
    font-size: 22pt;
    font-weight: bold;
    font-family: 'Calibri Light', monospace;
    padding-bottom: 2%
}

.description {
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    margin: auto;
    background-color: #50505010;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.regular-text {
    font-size: 20px;
}

.diagram {
    width: 70%;
    border-left: 1px dashed #505050;
    border-right: 1px dashed #505050;
    border-radius: 50px;
}

.right-text {
    text-align: right;
}

.diagram2 {
    width: 40%;
    border-top: 1px dashed #505050;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
}