body {
    background-image: none;
    background-color: black;
    font-family: calibri, arial, verdana, serif;
    font-weight: normal;
    font-size: 12pt;
    overflow-x: hidden;
    position: relative;
}

.image-bar-space {
    height: 60vmin;
}

#image-bar {
    display: flex;
    gap: 2.5%;
    position: absolute;
    user-select: none;
    left: 2.5%;
}

.image {
    width: 35vw;
    height: 58vh;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 20px;
}

.header {
    border-top: 1px solid #505050;
    border-bottom: 1px solid #505050;
    padding: 0.2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.header-text {
    border: none;
    background: none;
    margin: auto;
    color: #505050;
    font-size: 18pt;
    font-family: 'Calibri Light', monospace;
}

.bar {
    height: 100%;
    width: 13%;
    background-color: #2D2D2D;
    border-radius: 20px;
    transition: transform 0.3s;
    position: absolute;
    z-index: -1;
}

.grid {
    display: flex;
    justify-content: space-around;
    /*border-style: dotted;*/
}

.item2 {
    width: 50%;
    /*border-style: dotted;*/
}

.details {
    height: 42vw;
    width: 100%;
    background-image: url('FixPCAssets/RocketFuelStretched.png');
    border-top: 5px solid #303233;
    border-bottom: 5px solid #303233;
}

.detailsImg {
    width: 80%;
    border-radius: 20px;
    display: block;
    margin: auto;
    margin-top: 5%;
}

.detailsTitle {
    color: white;
    font-size: 6.2vw;
    font-weight: bold;
    padding: 10px;
    padding-right: 25%;
    text-align: right;
}

.detailsText {
    color: aquamarine;
    font-size: 2.1vw;
    font-weight: bold;
    padding-right: 25%;
    text-align: right;
}

/*new*/

.grid-container {
    display: grid;
    grid-template-rows: 5fr; /* Creates 5 rows with equal height */
    grid-template-columns: 100%; /* Automatically adjust columns based on available space */
}

.grid-item {
    /*border: 1px solid yellow;*/
}

.space {
    object-fit: cover;
    position: relative;
    width: 100%;
}

.logo {
    position: absolute;
    z-index: 2;
    width: 75px;
}

.logoCentre {
    position: absolute;
    z-index: 2;

    width: 220px;  
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50%;
    border: 1px solid white;
    border-radius: 5%;
}

.fade {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 10%;
    /*border: 1px solid green;*/
}

#flip {
    transform: scale(-1);
    align-self: end;
}

.spacer {
    height: 2vmin;
}
