body {
    background-image: none;
    background-color: black;
    font-family: calibri, arial, verdana, serif;
    font-weight: normal;
    font-size: 12pt;
    overflow-x: hidden;
    position: relative;
}

.image-bar-space {
    height: 60vmin;
}

#image-bar {
    display: flex;
    gap: 2.5%;
    position: absolute;
    user-select: none;
    left: 2.5%;
}

.image {
    width: 35vw;
    height: 58vh;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 20px;
}

.header {
    border-top: 1px solid #505050;
    border-bottom: 1px solid #505050;
    padding: 0.2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.header-text {
    border: none;
    background: none;
    margin: auto;
    color: #505050;
    font-size: 18pt;
    font-family: 'Calibri Light', monospace;
}

.bar {
    height: 100%;
    width: 16%;
    background-color: #2D2D2D;
    border-radius: 20px;
    transition: transform 0.3s;
    position: absolute;
    z-index: -1;
}

.grid {
    display: flex;
    justify-content: space-around;
    /*border-style: dotted;*/
}

.item2 {
    width: 50%;
    /*border-style: dotted;*/
}

.details {
    height: 42vw;
    width: 100%;
    background-image: url('FixPCAssets/RocketFuelStretched.png');
    border-top: 5px solid #303233;
    border-bottom: 5px solid #303233;
}

.detailsImg {
    width: 80%;
    border-radius: 20px;
    display: block;
    margin: auto;
    margin-top: 5%;
}

.detailsTitle {
    color: white;
    font-size: 6.2vw;
    font-weight: bold;
    padding: 10px;
    padding-right: 25%;
    text-align: right;
}

.detailsText {
    color: aquamarine;
    font-size: 2.1vw;
    font-weight: bold;
    padding-right: 25%;
    text-align: center;
}

.level_image_container {    
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.level_image {
    box-sizing: border-box;
    padding: 12px;
    width: 450px;
    border-radius: 20px;
}

.trailer_box {
    position: relative;
    display: block;
    width: 80%; /* width of iframe wrapper */
    height: 0;
    margin: auto;
    padding: 0% 0% 45%; /* 16:9 ratio */
    overflow: hidden;
    border: none;
    border-radius: 20px;
}

.trailer_box iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.space {
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    overflow: hidden;
}

.tape {
    width: 100%;
}

.logo {
    position: absolute;
    z-index: 2;
    width: 75px;
}

.logoCentre {
    position: absolute;
    z-index: 2;

    width: 220px;  
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 200px;
    border: 1px solid white;
    border-radius: 5%;
}

.fade {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 10%;
    /*border: 1px solid green;*/
}

.flip_fade {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 10%;
    align-self: end;
    transform: scale(-1) translateY(100%);
    
}

.spacer {
    height: 2vmin;
}
